# Byte-compiled / optimized / DLL files
__pycache__/
计算机/
数学/
.vscode/
*.py[cod]
*$py.class
*.dSYM/
venv3/
node_modules
dist
.eslintrc.js
# C extensions
*.so
*.zip
*.idea
# *.sql
*.log
pid
vue.config.js
local_profile
*.yaml
*.out

# Specific files
jobs.md

; git rm -r --cached .
; git add .
; git commit -m "comment"
